<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopeasy.mapper.OmCorporationMMapper">

    <!-- 활성 법인 목록 -->
    <select id="selectCorporationList" resultType="com.shopeasy.dto.CorporationItem">
        SELECT corporation_cd
             , corporation_nm
          FROM om_corporation_m
         WHERE is_active = true
         ORDER BY corporation_cd
    </select>

</mapper>
